.idea/
app/etc/local.xml
app/etc/deploy.xml
app/etc/amfpc.xml
var/
media/
includes/
test/
index.php
robots.txt
.DS_Store
.htaccess
.phpstorm.meta.php
sitemap/
feeds/
deploy/

tests/acceptance.suite.yml
tests/_output/*
tests/_support/_generated/*
